<h1 style = "color:blue">Welcome to this Random Page</h1>
<p>This is our random page that we have added for no good reason!</p>
<p><img src="http://s3media.247sports.com/Uploads/Assets/315/782/6_3782315.png">
